.back {
  border: 2px solid #ff6b6b;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  padding: 3px;
  text-align: center;
  height: fit-content;
}

.resetButton {
  background: #f00;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
}

.resetButton:hover {
  background: #00f;
}
