.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.modalContent {
  background-color: #000;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
}

.modalContent button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
