#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wall{
  position: absolute;
  background: #444;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #222;
}

.player{
  position: absolute;
  background: transparent;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item{
  position: absolute;
  background: transparent;
}

.info{
  color: '#aaa';
  margin-top: 16;
  font-size: 20;
}