#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  height: 100dvh;
  overflow: hidden;
}

.game-map{
  position: relative;
  margin: 0 auto;
  background: #222;
  image-rendering: pixelated;
}

.wall{
  position: absolute;
  background: #444;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #222;
}

.player{
  display: flex;
  position: absolute;
  background: transparent;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.item{
  display: flex;
  position: absolute;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.info{
  color: '#aaa';
  margin-top: 16;
  font-size: 20;
}

@keyframes explode {
  0% { transform: scale(0); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.8; }
  100% { transform: scale(2); opacity: 0; }
}

.game-result {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.game-result.show {
  opacity: 1;
  top: 0;
}

.game-result button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}