#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-map{
  position: relative;
  margin: 0 auto;
  background: #222;
  image-rendering: pixelated;
}

.wall{
  position: absolute;
  background: #444;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #222;
}

.player{
  display: flex;
  position: absolute;
  background: transparent;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.item{
  display: flex;
  position: absolute;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.info{
  color: '#aaa';
  margin-top: 16;
  font-size: 20;
}

@keyframes explode {
  0% { transform: scale(0); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.8; }
  100% { transform: scale(2); opacity: 0; }
}