.gameStats {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
}

.gameStats > * {
  padding: 5px;
  border-radius: 10px;
  background-color: cadetblue;
  box-shadow: 5px 5px 5px red;
}

.gameStats * {
  font-weight: 600;
}
